<!DOCTYPE html>
<html>

<head>
    <title>Статистика</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_statistics.css') }}">
</head>

<body>
    <div class="statics">
        <a href="{{ url_for('index') }}" class="return-button">Вернуться</a>
    </div>
    <h1>Ваша статистика</h1>
    <table>
        <thead>
            <tr>
                <th>Дата</th>
                <th>Категория продукта</th>
                <th>Продукт</th>
                <th>Количество грамм</th>
                <th>Количество калорий</th>
            </tr>
        </thead>
        <tbody>
            <tbody>
            {% for date in dates %}
            <tr>
                <td>{{ date['date_time'] }}</td>
                <td>
                    <ul>
                    {% for calorie in calories %}
                        {% if calorie.date_id == date.id  %}
                            <li>{{ calorie.category }}</li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </td>
                <td>
                    <ul>
                    {% for calorie in calories %}
                        {% if calorie.date_id == date.id  %}
                            <li>{{ calorie.item }}</li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </td>
                <td>
                    <ul>
                    {% for calorie in calories %}
                        {% if calorie.date_id == date.id  %}
                            <li>{{ calorie.gramms }}</li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </td>
                <td>
                    <ul>
                    {% for calorie in calories %}
                        {% if calorie.date_id == date.id  %}
                            <li>
                                {{ calorie.amount }}
                                <span class="amount">
                                    <form method="POST">
                                        <button class="delete-button">Удалить</button>
                                        <input type="number" class="delete-input" name="delete" value={{ calorie.id }}>
                                    </form>
                                </span>
                            </li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>Среднее количество калорий за день:</th>
                <td colspan="4">{{ average_calories }}</td>
            </tr>
        </tfoot>
    </table>
</body>

</html>