body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f0f0f0;
}

h1 {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f9f9f9;
}

ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    margin-bottom: 10px;
}

button {
    background-color: #f44336;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #d32f2f;
}

tfoot th {
    text-align: right;
}

.return-button {
    display: inline-block;
    padding: 8px 12px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    border-radius: 4px;
    float: right;
    margin-right: 10px;
}

.return-button:hover {
    background-color: #0062cc;
}

.calorie-item {
    display: flex;
    align-items: center;
}

.calorie-amount {
    margin-right: 10px;
}

.delete-input {
    display: none;
}