body {
    font-family: Arial, sans-serif;
    padding: 10px;
    background-color: #f0f0f0;
}

h1 {
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f9f9f9;
}

ul {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
}

li {
  margin-top: 10px;
  margin-bottom: 10px;
}

li:before {
    content: "\00a0";
    margin-right: 0;
}

button {
    background-color: #f44336;
    color: #fff;
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    height: 15px;
}
.amount {
    display: inline-block;
    margin-left: 10px;
}
button:hover {
    background-color: #d32f2f;
}

tfoot th {
    text-align: right;
}

.return-button {
    display: inline-block;
    padding: 8px 12px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    border-radius: 4px;
    float: right;
    margin-right: 10px;
}

.return-button:hover {
    background-color: #0062cc;
}

.delete-input {
    display: none;
}